<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<h2>Comments</h2>
<% if @article.comments.present? %>
	<%= render "comments/comments" %>
<% else %>
	<%= render "comments/form" %>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>