<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @event.ends_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<h2>Comments</h2>
<% if @event.comments.present? %>
	<%= render "comments/comments" %>
<% else %>
	<%= render "comments/form" %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
